<ion-view view-title="Pieces" hide-nav-bar="true">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline"
       ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    </div>
    <h1 class="title"> Pieces </h1>
    <div class="buttons">
      <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
         Reorder
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list
              show-delete="data.showDelete"
              show-reorder="data.showReorder"
              can-swipe="listCanSwipe">

      <ion-item ng-repeat="piece in pieces"
                class="item-icon-left">

        <!--
        <img >
        -->
        <i class="icon ion-ios-musical-note"></i>
        {{piece.title}}
        <ion-option-button class="button-info"
                           ng-click="edit(piece)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="pieces.splice($index, 1)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="reorderItem(piece, $fromIndex, $toIndex)">
        </ion-reorder-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
